# https://direnv.net/

export GS_SESSION_SECRET=

export GS_REDIS_SOCKET=

export GS_APP_URL=
export GS_GRAPHQL_URL=

export GS_OAUTH2_AUTORIZATION_URL=
export GS_OAUTH2_TOKEN_URL=
export GS_OAUTH2_CLIENT_ID=
export GS_OAUTH2_CLIENT_SECRET=
