#
# These are the environment variables for this application.
# You can use any method you like to handle then, but here are two suggestions:
#
# 1. Use direnv to manage your env vars, it's simple and easy to use,
#    take a look on https://direnv.net/ for more info.
#
#    Simple steps to use it:
#
#      - follow the instructions on the website to install it
#      - duplicate this file and rename it to .envrc
#      - set the variables bellow
#      - run `direnv allow` on the project root
#
# 2. Set the variables on one of your config files, eg.: .bashrc or .zshrc
#


# you can leave it empty when running locally
export GS_SESSION_SECRET=

# leave empty when redis is running on redis://localhost:6379
export GS_REDIS_SOCKET=

# you can leave it empty when the app is running on localhost
export GS_APP_URL=

# the variables below are REQUIRED
export GS_GRAPHQL_URL=
export GS_OAUTH2_AUTORIZATION_URL=
export GS_OAUTH2_TOKEN_URL=
export GS_OAUTH2_CLIENT_ID=
export GS_OAUTH2_CLIENT_SECRET=
